<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rate</title>
</head>
<body>
  <p>
  <h1>Rate</h1>
  <form action="/rate" method="post">
    Enter Score(1-10):<br><br>
    <input type="text" name="score"><br><br>
    <input type="hidden" name="_id" value="<%=_id%>">
    <input type="submit" value="Rate"><br><br>
  </form>
</body>
</html>

  